### Vamos a hacer lo  mismo que para el partido 1 pero para este segundo dataset:

In [12]:
# Importamos las librer√≠as:
import pandas as pd 
import matplotlib.pyplot as plt 
from mplsoccer import Pitch

In [13]:
# Cargamos los distintos datasets:
Away_tracking = pd.read_csv('Sample_Game_2_RawTrackingData_Away_Team.csv', header=[0,1], skiprows=1)
Home_tracking = pd.read_csv('Sample_Game_2_RawTrackingData_Home_Team.csv', header=[0,1], skiprows=1)

In [14]:
# Empezamos a trabajando con el dataset del equipo local:
Home_tracking.columns = [
    'Period', 'Frame', 'Time [s]',
    'Player11_x', 'Player11_y',
    'Player1_x', 'Player1_y',
    'Player2_x', 'Player2_y',
    'Player3_x', 'Player3_y',
    'Player4_x', 'Player4_y',
    'Player5_x', 'Player5_y',
    'Player6_x', 'Player6_y',
    'Player7_x', 'Player7_y',
    'Player8_x', 'Player8_y',
    'Player9_x', 'Player9_y',
    'Player10_x', 'Player10_y',
    'Player12_x', 'Player12_y',
    'Player13_x', 'Player13_y',
    'Player14_x', 'Player14_y',
    'Ball_x', 'Ball_y'
]
Home_tracking.head()

   Period  Frame  Time [s]  Player11_x  ...  Player14_x  Player14_y  Ball_x  Ball_y
0       1      1      0.04     0.94275  ...         NaN         NaN     NaN     NaN
1       1      2      0.08     0.94275  ...         NaN         NaN     NaN     NaN
2       1      3      0.12     0.94275  ...         NaN         NaN     NaN     NaN
3       1      4      0.16     0.94275  ...         NaN         NaN     NaN     NaN
4       1      5      0.20     0.94275  ...         NaN         NaN     NaN     NaN

[5 rows x 33 columns]

In [15]:
# Extraemos el bal√≥n de dicho dataset:
df_ball_home = Home_tracking[["Frame", "Time [s]", "Ball_x", "Ball_y"]].copy()
df_ball_home["player_id"] = "Ball"
df_ball_home.rename(columns={"Ball_x": "x", "Ball_y": "y"}, inplace=True)
df_ball_home = df_ball_home[["Frame", "Time [s]", "player_id", "x", "y"]]

In [16]:
# Cambiamos ahora las columnas del dataset para el equipo visitante:
cols_fijas = ['Period', 'Frame', 'Time [s]', 'Ball_x', 'Ball_y']
cols_jugadores = [col for col in Home_tracking.columns if col not in cols_fijas]

jugadores = sorted(set(col.split("_")[0] for col in cols_jugadores))

data_larga_home_2 = []

for jugador in jugadores:
    col_x = f"{jugador}_x"
    col_y = f"{jugador}_y"
    if col_x in Home_tracking.columns and col_y in Home_tracking.columns:
        temp_df = Home_tracking[["Frame", "Time [s]", col_x, col_y]].copy()
        temp_df.columns = ["Frame", "Time [s]", "x", "y"]
        temp_df["player_id"] = jugador
        data_larga_home_2.append(temp_df)

Players_Home_tracking = pd.concat(data_larga_home_2, ignore_index=True)
Players_Home_tracking["team"] = "home"
Players_Home_tracking = Players_Home_tracking[["Frame", "Time [s]", "player_id", "team", "x", "y"]]

In [17]:
# Vamos a modificar el dataset para los jugadores del equipo visitante:
Away_tracking.columns = [
    'Period', 'Frame', 'Time [s]',
    'Player25_x', 'Player25_y',
    'Player15_x', 'Player15_y',
    'Player16_x', 'Player16_y',
    'Player17_x', 'Player17_y',
    'Player18_x', 'Player18_y',
    'Player19_x', 'Player19_y',
    'Player20_x', 'Player20_y',
    'Player21_x', 'Player21_y',
    'Player22_x', 'Player22_y',
    'Player23_x', 'Player23_y',
    'Player24_x', 'Player24_y',
    'Player26_x', 'Player26_y',
    'Ball_x', 'Ball_y'
]
Away_tracking.head()

   Period  Frame  Time [s]  Player25_x  ...  Player26_x  Player26_y  Ball_x  Ball_y
0       1      1      0.04     0.01218  ...         NaN         NaN     NaN     NaN
1       1      2      0.08     0.01218  ...         NaN         NaN     NaN     NaN
2       1      3      0.12     0.01218  ...         NaN         NaN     NaN     NaN
3       1      4      0.16     0.01218  ...         NaN         NaN     NaN     NaN
4       1      5      0.20     0.01218  ...         NaN         NaN     NaN     NaN

[5 rows x 29 columns]

In [18]:
# Ahora podemos extraer de este dataset el bal√≥n:
df_ball_away = Away_tracking[["Frame", "Time [s]", "Ball_x", "Ball_y"]].copy()
df_ball_away["player_id"] = "Ball"
df_ball_away.rename(columns={"Ball_x": "x", "Ball_y": "y"}, inplace=True)
df_ball_away = df_ball_away[["Frame", "Time [s]", "player_id", "x", "y"]]

In [19]:
# Transformamos el dataset en un formato largo:
cols_fijas = ['Period', 'Frame', 'Time [s]', 'Ball_x', 'Ball_y']
cols_jugadores = [col for col in Away_tracking.columns if col not in cols_fijas]

jugadores = sorted(set(col.split("_")[0] for col in cols_jugadores))

data_larga_away_2 = []

for jugador in jugadores:
    col_x = f"{jugador}_x"
    col_y = f"{jugador}_y"
    if col_x in Away_tracking.columns and col_y in Away_tracking.columns:
        temp_df = Away_tracking[["Frame", "Time [s]", col_x, col_y]].copy()
        temp_df.columns = ["Frame", "Time [s]", "x", "y"]
        temp_df["player_id"] = jugador
        data_larga_away_2.append(temp_df)

Players_Away_Tracking = pd.concat(data_larga_away_2, ignore_index=True)
Players_Away_Tracking["team"] = "away"
Players_Away_Tracking = Players_Away_Tracking[["Frame", "Time [s]", "player_id", "team", "x", "y"]]

In [20]:
# Ahora ya podemos concatenar ambos datasets para haverlos todo en uno:
Players_tracking = pd.concat([Players_Home_tracking, Players_Away_Tracking], ignore_index=True)

# Ordenamos por frame para poder verlo m√°s visual:
Players_tracking = Players_tracking.sort_values(by = 'Frame').reset_index(drop=True)

In [21]:
Players_tracking.head()

   Frame  Time [s] player_id  team        x        y
0      1      0.04  Player18  away  0.36505  0.31049
1      1      0.04   Player1  home  0.64812  0.28605
2      1      0.04  Player23  away  0.50177  0.50145
3      1      0.04  Player13  home      NaN      NaN
4      1      0.04  Player26  away      NaN      NaN

In [23]:
df_ball_home.head()

   Frame  Time [s] player_id   x   y
0      1      0.04      Ball NaN NaN
1      2      0.08      Ball NaN NaN
2      3      0.12      Ball NaN NaN
3      4      0.16      Ball NaN NaN
4      5      0.20      Ball NaN NaN

In [24]:
# Ahora ya podemos guardar ambos datasets:
Players_tracking.to_csv('Players_tracking.csv', index = False)
df_ball_away.to_csv('Ball_tracking.csv', index=False)