In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from  mplsoccer import Pitch 
import json

## Vamos a cargar el dataset primero de eventos:

In [4]:
# Cargamos el json:
with open('Sample_Game_3_events.json', 'r') as f:
    json_data = json.load(f)
    
events = json_data['data']

# Aplanar los eventos
flattened_data = []
for event in events:
    # Manejar subtypes que pueden ser un dict o una lista de dicts
    if isinstance(event.get("subtypes"), dict):
        subtype_name = event["subtypes"].get("name")
        subtype_id = event["subtypes"].get("id")
    elif isinstance(event.get("subtypes"), list):
        subtype_name = ";".join([sub.get("name", "") for sub in event["subtypes"]])
        subtype_id = ";".join([str(sub.get("id", "")) for sub in event["subtypes"]])
    else:
        subtype_name = None
        subtype_id = None

    flattened_data.append({
        "index": event.get("index"),
        "team_name": event["team"].get("name"),
        "team_id": event["team"].get("id"),
        "type_name": event["type"].get("name"),
        "type_id": event["type"].get("id"),
        "subtype_name": subtype_name,
        "subtype_id": subtype_id,
        "start_frame": event["start"].get("frame"),
        "start_time": event["start"].get("time"),
        "start_x": event["start"].get("x"),
        "start_y": event["start"].get("y"),
        "end_frame": event["end"].get("frame"),
        "end_time": event["end"].get("time"),
        "end_x": event["end"].get("x"),
        "end_y": event["end"].get("y"),
        "period": event.get("period"),
        "from_name": event["from"].get("name") if event.get("from") else None,
        "from_id": event["from"].get("id") if event.get("from") else None,
        "to_name": event["to"].get("name") if event.get("to") else None,
        "to_id": event["to"].get("id") if event.get("to") else None,
    })

# Convertir a DataFrame
df = pd.DataFrame(flattened_data)

# Guardar como CSV
df.to_csv("Sample_Game_3_events.csv", index=False)

## Vamos a visualizar ahora el dataset para ver que est√° bien cargado:

In [10]:
Events_detection = pd.read_csv('Sample_Game_3_events.csv')
Events_detection.head()

,index,team_name,team_id,type_name,type_id,subtype_name,subtype_id,start_frame,start_time,start_x,start_y,end_frame,end_time,end_x,end_y,period,from_name,from_id,to_name,to_id
0,1,Team A,FIFATMA,SET PIECE,5,KICK OFF,35,361,14.44,NaN,NaN,361,14.44,NaN,NaN,1,Player 10,P3577,NaN,NaN
1,2,Team A,FIFATMA,PASS,1,NaN,NaN,361,14.44,0.50125,0.48725,377,15.08,0.49864,0.48705,1,Player 10,P3577,Player 7,P3574
2,3,Team A,FIFATMA,CARRY,10,NaN,NaN,377,15.08,0.49864,0.48705,384,15.36,0.49700,0.48500,1,Player 7,P3574,NaN,NaN
3,4,Team A,FIFATMA,PASS,1,NaN,NaN,384,15.36,0.49700,0.48500,426,17.04,0.63373,0.63449,1,Player 7,P3574,Player 8,P3575
4,5,Team A,FIFATMA,CARRY,10,NaN,NaN,426,17.04,0.63373,0.63449,465,18.60,0.66986,0.59707,1,Player 8,P3575,NaN,NaN

## Vamos ahora a transformar este dataset en el mismo formato que los otros dos datasets de eventos que tenemos:

In [11]:
# Primero vamos a modificar los nombres de las columnas para tenerlas igual:
Events_detection = Events_detection.rename(columns={
    "team_name": "Team",
    "type_name": "Type",
    "subtype_name": "Subtype",
    "period": "Period",
    "start_frame": "Start Frame",
    "start_time": "Start Time [s]",
    "end_frame": "End Frame",
    "end_time": "End Time [s]",
    "from_name": "From",
    "to_name": "To",
    "start_x": "Start X",
    "start_y": "Start Y",
    "end_x": "End X",
    "end_y": "End Y"
})

In [12]:
# Seleccionamos ahora las columnas que tenemos en el resto de dataset:
Events_detection_correct = [
    "Team", "Type", "Subtype", "Period",
    "Start Frame", "Start Time [s]", "End Frame", "End Time [s]",
    "From", "To", "Start X", "Start Y", "End X", "End Y"
]

# Aplicamos el formato:
Events_detection = Events_detection[Events_detection_correct]

# Guardamos en el nuevo csv:
Events_detection.to_csv('Sample_Game_3_events.csv')